body{
    background-color:#fafafa;
    font-family: "Open Sans", sans-serif;
}

.clear{
    clear:both;
}

.slider-area{
    position: relative;
    height: 630px
}
#bg-slider .item img{
    width: 100%;
    height: 630px
}

.slider-content{
    position: absolute;
    top: 20%;
    text-align: center;
    color: #FFF;
    width: 100%;
}
.largesize{

	font-size: 30px;
}

.slider-content h2 {
    font-size: 40px; 
    margin-bottom: 20px;
    text-transform: uppercase;color: white;
font-weight: 500;
}
.slider-content P {
    font-size: 14px;
    margin-bottom: 60px;
    color:yellow;
}

/* .btn-success{
    color: #05AE0E;
    border-color: #05AE0E;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #049F0C;
    border-color: #049F0C;
    background-color: rgba(0,0,0,.0);
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05AE0E;
} */

button {
    border-radius: 3px;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: 0;
    outline-offset: 0;
    border: none;
    overflow: visible;
}  
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.slider .owl-theme .owl-controls {
    margin-top: 0px;
    position: relative;
    text-align: center;
}
.slider .owl-pagination {
    bottom: 280px;
    position: absolute;
    right: 10px;
    width: 40px;
    z-index: 9999;
}
.slider .owl-theme .owl-controls .owl-page span{
    background: #FFC600
}
 .slider-height {
     height:300px !important;
 }
 
 #service-slider .item{
    margin:5px;
 }

 .offer-slider-txt {
	padding:20px 13px 21px 13px;
	background:#fff;
}

.offer-slider-link {
font-size:15px;
color: #4c4c4c;
text-transform: uppercase;
text-decoration: none;
font-weight: normal;
font-family: "Calibri";
}

.offer-slider-location{
    font-size: 10px;
    color: #747d7e;
    font-weight: normal;
    text-transform: uppercase;    
    font-family: "Calibri";
}


    
      .btn-srch {
        display: block;
        cursor: pointer;
      }
      
     

      
      

/* .searchform input[type="text"]{
      width: 90%;
      height: 45px;
      margin-right: 10px;
      float: right;
      padding-left: 10px;
      padding-right: 40px;
      border: 1px solid #ccc;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      font-size: 13px;
      font-size: 0.8125rem;
      color: #555;
} */
.hdr-srch-overlay{
    margin-top:-5px;
}
.btn-search{
    background-color:#fff;
}
.searchform input[type="text"]{
    width: 92%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 7px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}